.header {
    margin: 0 auto;
}


.banner {
    &__phone {
        padding: 1rem 0;
        font-size: 1rem;

        p {
            width: 90%;
            text-align: right;
        }

        span {
            color: $color-secondary;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}


.menu {
    background-color: $color-darkblack;

    nav {
        position: relative;
        display: flex;
        height: 50px;

        justify-content: space-between;

        a {
            text-decoration: none;
        }

        ul {
            display: flex;
            list-style: none;

            li {
                padding-left: 2rem;

            }

            a {
                text-decoration: none;
                color: $color-white;
            }
        }
    }

    &__logo {
        background: $color-white;
        border-radius: 100%;
        height: 90px;
        position: absolute;
        bottom: -80%;
        padding: 1.5rem;
    }
}

main {
    background-image: url(../../src/assets/landing-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 280px);

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 3rem;

    &__title {
        font-size: 2rem;
        color: $color-white;
        text-align: right;
        font-weight: 300;
        margin-right: 20px;

        strong {
            font-size: 3.5rem;
        }
    }

    &__form {
        background-color: $color-white;
        width: 40%;
        height: calc(100vh - 250px);
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 25px rgba(0, 0, 0, .3);
        align-items: space-between;
        align-self: flex-end;

        &__note {
            color: $color-lightblack;
            font-size: .6rem;
            padding: 4%;
        }

        button {
            margin: auto;
        }

    }

    &__fields {
        height: 60%;
        display: flex;
        flex-wrap: wrap;
    }
}



.field {
    width: 42%;
    margin: 0 4%;
}

// services

.services {
    &-section {
        height: 80vh;
        margin: auto;
        padding: 3rem 0;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        grid-gap: 5rem;

    }

    &__description {
        h3 {
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }

        p {
            margin: 1.2rem 0;
        }
    }

    &__image {
        width: 100%;
        height: 280px;
        object-fit: cover;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__covers {
        display: grid;
        grid-template-columns: repeat(2, 40%);
        grid-template-rows: 100px 200px 200px;
        justify-content: flex-end;

        h3 {
            text-align: center;
            grid-column: span 2;
            font-size: 1.8rem;
            margin-bottom: 2rem;

        }

    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__images {
        background-color: $color-brand;
        width: 115px;
        height: 115px;
        margin: auto;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
        }
    }

}

// Rating

.rating {
    &-section {
        background-image: linear-gradient(to right bottom, #00726f, #0f8f6d, #55aa58, #9dbf37, #f2ca13);

    }

    &__container {
        display: flex;
        padding: 2rem 0;
        color: $color-white;
        justify-content: space-between;
        font-size: 1.2rem;

        h3 {
            margin: 0;
        }
    }

    &__card {
        display: flex;
        align-items: center;

    }

    &__number {
        color: $color-secondary;
        font-weight: bold;
        background-color: $color-white;
        font-size: 2rem;
        margin-right: 10px;


        border-radius: 50%;
        padding: 1rem;
        width: 50px;
        height: 50px;
    }
}

.footer {
    background-color: $color-lightblack;
    color: $color-white;

    h1 {
        text-align: center;
        padding: 3rem;
    }

    p {
        color: $color-grey;
        padding-bottom: 2rem;
        margin: 0;
        font-size: .8rem;
    }

    ul {

        padding: 1rem 0;

        li {
            list-style: none;
            display: inline;

            &:first-child {
                padding-right: 1.3rem;

                &:after {
                    content: '|';
                    position: absolute;
                    padding-left: .5rem;
                    color: $color-grey;
                }
            }

            a {
                color: $color-grey;
                text-decoration: none;
            }
        }
    }

}

.brands {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    img {
        width: 100px;
        margin: 0 1rem;
    }

}